body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
}

.uppertext {
    text-align: center;
    padding: 20px;
    width: Fill (1,579px)px;
    height: Hug (1,675px)px;
    gap: 35px;
    opacity: 0px;
    padding: #181818;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #181818;
    color: #fff;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.mainmenu {
    flex-grow: 1;
}

.uppermenu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.uppermenu li {
    margin: 0 15px;
}

.uppermenu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.upperbutton {
    margin-left: auto;
}

.loginbutton {
    background-color: #4caf4f00;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

}

.textcenter {
    width: Fill (1,579px)px;
    height: Hug (393px)px;
    padding: 50px 0px 50px 0px;
    gap: 17px;
    opacity: 0px;
    background-color: #181818;

}

.headerline {
    font-size: 36px;
    margin: 10px 0;
    width: Hug (729px)px;
    height: Hug (196px)px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    color: #fff ;

    font-family: Graphik;
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;


}

.subheader {
    font-size: 24px;
    margin: 10px 0;
    width: Hug (602px)px;
    height: Hug (80px)px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    color: #fff ;

   
    font-family: Graphik;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}

.twobutton {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #181818;
}

.button1 {
    background: #4452FE;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

}

.button2{
    border: 1px solid rgba(255, 255, 255, 1);
    border-color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    box-shadow: 0px 4px 31px 0px #00000026;

    
}

.grad{
    background: #181818;

}
.mainpick{
    background-color: #181818;
}
.features{
    width: Fill (1,579px)px;
    height: Hug (1,112px)px;
    padding: 62px 50px 62px 50px;
    gap: 10px;
    opacity: 0px;
    text-align: center;

}
.content{
    width: Fill (1,479px)px;
    height: Hug (988px)px;
    gap: 80px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 80px;



}
.heading{
    width: Hug (602px)px;
    height: Hug (149px)px;
    gap: 27px;
    opacity: 0px;
    padding-left: 438.5px;
    padding-right: 438.5px;
    padding-bottom: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.secondheadline{
    width: Hug (251px)px;
    height: Hug (62px)px;
    gap: 10px;
    opacity: 0px;
    text-align: center;
    padding-left: 175.5px;
    color: #fff;
}
.submain{
    width: Hug (602px)px;
    height: Hug (60px)px;
    padding: 0px 10px 0px 10px;
    gap: 10px;
    opacity: 0px;
    color: #fff;
    font-size: 16px;
    
}
.block2{
    background-color: #181818;
}

.block1{
    background-color: #181818;
}

.frame{
    display: flex;
    align-items: center;
    
    flex-direction: row;
    gap: 27px;

    width: 1088px;
    height: 759px;
   
    justify-content: space-between;
}

.frameimg{
    padding: 10px 0px;
    width: 752px;
    height: 759px;
}
.frameimg img{
    max-width: 100%;
    height: auto;
}

.chatcontent{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;

    padding: 20px;
    width: 309px;
    height: 651px;
    
}

.textbox{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 269px;
    height: 196px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.chatheading{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;

    width: 204px;
    height: 80px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.chat1{
    font-weight: 400;
    font-size: 16px;
    color: #333; 
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #fff;
}

.contents{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 35px;
    padding: 50px 199px;
    width: 1579px;
    height: 930px;
    background: #181818;
}

.contentbox{
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 44px;
width: 985px;
height: 830px;
}
.contenttext{
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 0px;
width: 591px;
height: 162px;
}

.contentheader{
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
padding: 10px;
width: 245px;
height: 82px;
color: #fff;
}

.contentsubtext{
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
padding: 10px;
width: 591px;
height: 80px;
color: #fff;
text-align: center;
}
.card{
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 33px;
width: 985px;
height: 624px;
}
.card1{
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 57px;
border: 1px solid #d3d3d3;
border-radius: 10px;
padding: 40px 0px;
width: 476px;
height: 624px;
box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
background: #fff;
}
.card2{
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 30px;
border: 1px solid #d3d3d3;
border-radius: 10px;
padding: 40px 0px;
width: 476px;
height: 620px;
box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
background: #fff;
}

.buttoncard1{
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
padding: 20px 36px;
width: 157px;
height: 52px;
box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
background: #4452fe;
}

.buttoncard2{
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
padding: 20px 36px;
width: 190px;
height: 52px;
box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
background: #4452fe;
}